### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/arduino.json
!.vscode/c_cpp_properties.json
.history

#Arduino build directory 
output/